* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: rgba(70, 70, 88, 0.61);
}
body .container {
  width:95%;
  background-color: rgb(0, 0, 33);
  margin: 23px;
  border: 20px solid white;
  border-radius: 50px;
}

nav {

  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  background-color: rgba(12, 12, 41, 0.432);
  backdrop-filter: blur(30px);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(128, 128, 206);
  font-size: 1.01rem;
}

.left {
  margin-left: -100px;
  font-size: 1.7rem;
}
.newCard {
  height: 10px;
  width: 290px;
  border-radius: 40px;
  background-color: rgb(231, 231, 231);
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.274), inset -20px -20px 60px rgba(255, 255, 255, 0.322);
  /* left, right , blur. color black with less alpha, shadow in inner side again, same things again* color white in less alpha*/
  padding: 25px;
  margin-left: 0px;
  margin-top:39px
 
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 105px 0;
  align-items: center;
  height: 75vh;
}
.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2rem;
  margin: 30px 0;
}

.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .btn {
  padding: 12px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.rightSection img {
  width: 88%;

  filter: drop-shadow(
    10px 10px 20px rgba(0, 0, 0, 0.63)
  ); /* left access, right access and Blur(20px) respectively*/
}

.purple {
  color: rgb(94, 40, 145);
}
.textGray {
  color: grey;
}
#element {
  color: rgb(67, 63, 143);
}
main hr {
  border: 0;
  background: rgb(129, 129, 202);
  height: 1.2px;
  margin: 40px 84px;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
  color:black!;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .box {
  background: white;
  width: 77vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 1px 8vw;
}
.image-top {
  width: 25px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
}
.vertical-desc {
  position: relative;
  top: 86px;
  width: 150px;
  color: grey;
  font-size: 10px;
}

footer {
  background-color: #38374c;
 
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
 
}
.footer ul {
  list-style: none;
}
.footer ul li {
  padding: 5px 0;
  color: #858585;
 
}

.footer > div {
  width: 223px;
}
footer .footer-text {
  color: grey;
  text-align: center;
  padding: 32px 0;

}

/* Responsive for phones */

@media screen and (max-width: 1000px) {

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  .left {
    padding: 3px;
    margin: 8px;
  }

  .firstSection {
    flex-direction: column-reverse;
  }
  .buttons .btn {
    margin: 5px;
    transition: all ease 0.5ms;
  }
  .rightSection {
    width: 600px !important;
    display: flex;
    justify-content: center;
  }
  .rightSection img {
    width: 45vw;
    margin-bottom: 70px;
  }
  .leftSection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    flex-direction: column;
    transition: all ease 0.5s;
  }
  .box .vertical {
    transition: all ease 0.5s;
  }
  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .secondSection .box {
    width: 50vw;
  }
  .secondSection .vertical {
    height: unset;
  }
  .vertical-title,
  .vertical-desc {
    left: 45px;
  }
  footer {
    display: none;
  }
}
